@model IEnumerable<WebApplication1.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="grid-container">
    @foreach (var item in Model)
    {
        <div class="grid-item">
            <div class="product" style="background-image: url('@Url.Content("~/img/Productos/" + item.foto)')">
                <div class="product-overlay">
                    <h2>@item.nombre</h2>
                    <p>@item.descripcion</p>
                    <p>Precio: @item.precio</p>
                    <p>Categoria: @item.categoria</p>
                    <p>Subcategoria: @item.subcategoria</p>
                    <div class="product-actions">
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
